body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p {
    color: red;
    font-family: Times New Roman;
    font-size: 160%;
    border: 2px solid blueviolet;
    /* border */    
    padding: 30px;
    margin: 50px;
}